.SkillsForm {
  background: #2d2f36;
  width: 70%;
  padding: 2rem;
  position: relative;
}

.tag-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.SkillsForm .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 0;
}

.SkillsForm .btns button {
  font-size: 1rem;
  margin: 0.5rem;
}

.Checkbox {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 900;
  background: transparent;
  outline: none;
  color: #e2e2e5;
  box-shadow: none;
  border: 2px solid #e2e2e5;
  /* border-radius: 40px; */
  /* transition: all 0.5s ease; */
}

.Checkbox input {
  margin: 1rem 0.5rem;
  transform: scale(2);
}

.Checkbox label {
  margin: 1rem 0.5rem;
}

@media (max-width: 450px) {
  .SkillsForm {
    width: 100%;
    padding: 1rem;
  }

  .SkillsForm .btns button {
    font-size: 0.8rem;
    margin: 0.25rem;
  }

  .Checkbox {
    font-size: 0.8rem;
  }

  .Checkbox input {
    margin: 0.5rem 0.25rem;
    transform: scale(1);
  }
}
